.contact-us-text {
    text-align: center;
    padding: 30px;
    word-wrap: normal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family:Arial;
}

.contact-us-body {
    background-image: url("../media/wood.jpg");
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    background-position: center;
    background-size: cover;
}

.contactform {
    text-align: left;
    right: 50%;
    width: auto;
    height: auto;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 30px;
    background-color:#111111
}

main {
    padding: 0 !important;
}

form {
    border: 10px solid grey;
    padding:10px;
    display:inline-block;
}

.buttonsub {
    background-color: #069400;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px 2px;
    cursor: pointer;
}

.buttonres {
    background-color: #808080;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px 2px;
    cursor: pointer;
}

.buttonsize {
    border-radius: 5px;
}