.contact-us-text {
    text-align: center;
    padding: 30px;
    word-wrap: normal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family:Arial;
}

.contact-us-color{
    background-color:#161616;
    color:white;
}

.contactform {
    text-align: left;
    right: 50%;
    width: auto;
    height: auto;
    font-family: Arial;
    padding: 30px;
}

contact-us-body {
    text-align: center;
    padding: 30px;
    letter-spacing: 2px;
    background-color: #000000;
}

main {
    padding: 0 !important;
}

form {
    border: 10px solid grey;
    padding:10px;
    display:inline-block;
}