body{
    min-height:100%;
    width:100%;
    padding:0px; 
    margin:0px;

}
.wrap {
    padding: 12px;
    max-width: 950px;
    margin: auto;
    width:100%;
}
footer {
    background-color: darkgray;
    overflow: auto;
    font-family: 'Agency FB';
    color: black;
    text-align: center;
}
