
main{
    padding:0 !important;
}

#jap-slider .carousel-item img {
    height:480px;
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);

}

/* -Text animation timing- */

.animated {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

/* -Hero Image- */

.japanese {
    background-color: #111;
    height: 100vh;
    position: static !important;
    max-height: 100vh;
}

/* -Hero Image Caption- */

.jap-caption {
    display: block;
    position: relative;
    margin-top: 35vh;
    color: #FFF;
    text-shadow: none;
    padding: 20px;
    z-index: 5;
    text-align: right;
    transform: translateY(-50%);
    bottom: initial;
}

    .jap-caption h1 {
        font-weight: bold;
        font-size: 3vw;
        font-family: Raleway, sans-serif;
    }

.morphext > .animated {
    display: inline-block;
}
#slider {
    background: blue;
    height: 100px;
    width: 500px;
    position: relative;
    left: -520px;
}

.open {
    left: 0px !important;
}

.transition {
    -webkit-transition: left 0.3s ease-out; /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: left 0.3s ease-out; /* Firefox 4-15 */
    -o-transition: left 0.3s ease-out; /* Opera 10.50–12.00 */
    transition: left 0.3s ease-out; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}