body {
    background-color: dimgray;
}

fieldset {
    border: solid orange 5px;
    padding: 10px 20px 20px 20px;
    margin: 0 0 40px 0;
}
main{
    padding-top:40px;
}
form {
    margin: 0px 100px 0 100px;
}

h3 {
    text-align: center;
}

label {
    text-align: center;
}