html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.caption{
    background-color: black;
}

img:hover{
    text-decoration: none;
}

.border{
    border: thin solid black;
    padding: 10px;
}




/*orderStyles.css*/
html {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, serif;
    font-size: 100%;
    background-color: white;
    margin: 0;
}

form {
    border: 3px solid #783F27;
    margin: auto;
    padding: 10px 20px;
}

h1 {
    color: white;
    text-align: center;
    font-family: Bebas Neue;
}

fieldset {
    padding: 20px 20px 0 20px;
    border: 3px solid yellow;
    border-radius: 10px;
    padding: 10px;
}

legend {
    width: auto;
}

.labelAlign {
    display: inline-block;
    width: 120px;
    margin-left: 20px;
}

textarea {
    vertical-align: top;
    margin-bottom: 5px;
    width: 300px;
}

.boxWidth {
    width: 300px;
}



.button{
    padding: 5px;
    background-color: red;
    font-family: Arial;
    border-radius:5px;
    color: black;
    text-align: center;
}

main{
    background-color:black;
    color: white;
    
}

p{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.footer{
    background-color:black;
}

.background {
    background-image: url('../media/background.jfif');
}


.quiz{
    border: 3px solid aqua !important;
    background-color:aqua !important;
    border-radius: 10px;
}

.quizinfo{
   color:red;
}
